[Unit]
Description=Hajkey daemon

[Service]
Type=simple
User=hajkey
ExecStart=/usr/bin/yarn start
WorkingDirectory=/home/hajkey/iceshrimp
Environment="NODE_ENV=production"
TimeoutSec=60
SyslogIdentifier=hajkey
Restart=always

[Install]
WantedBy=multi-user.target
